::ng-deep.mat-card-header-text {
    width: 100%;
    text-align: center;
}
.card {
    height: 90px;

    &.empty>:first-child {
        width: 30px;
        height: 90px;
        margin: 120px auto;
    }
}