<mat-button-toggle-group vertical>
  <mat-button-toggle routerLink="/pokemons">Pokémons</mat-button-toggle>
  <mat-button-toggle routerLink="/types">Types</mat-button-toggle>
  <mat-button-toggle routerLink="/abilities">Abilities</mat-button-toggle>
  <mat-button-toggle routerLink="/moves">Moves</mat-button-toggle>
  <mat-button-toggle routerLink="/generations">Generations</mat-button-toggle>
  <mat-button-toggle routerLink="/regions">Regions</mat-button-toggle>
  <mat-button-toggle routerLink="/locations">Locations</mat-button-toggle>
  <mat-button-toggle routerLink="/areas">Areas</mat-button-toggle>
  <mat-button-toggle routerLink="/items">Items</mat-button-toggle>
  <!-- <mat-button-toggle routerLink="/stats" >Stats</mat-button-toggle> -->
  <!-- <mat-button-toggle routerLink="/wiki" >Wiki</mat-button-toggle> -->
</mat-button-toggle-group>