::ng-deep .mat-card-header-text {
    width: 100%;
    margin: 0;
    text-align: center;
}
mat-card-title {
    width: 100%;
    margin: 0;
    text-align: center;
} 
.header-image {
    width: 90px;
    height: 90px;
    padding: 0px;
}
.card {
    height: 90px;
    &.empty>:first-child {
        width: 30px;
        height: 30px;
        margin: 180px auto;
    }
}
.info {
    text-align: center; color: black; margin-top: 5px;font-size: 12px;
}