app-berry-card {
    width: 24%;
    padding: 0;
    margin-left: 0.75%;
    margin-top: 12px;
    float: left;
}
@media screen and (max-width: 385px) {
    app-berry-card {
        width: 99.25%;
    }
}